<div class="container">
  <div class="navbar-wagon">
    <!-- Logo -->
    <a href="/" class="navbar-wagon-brand">
      <img src="images/lewagon.png" />
    </a>


  <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">

      <!-- Search form -->
      <form action="" class="navbar-wagon-search">
        <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
        <button type="submit" class="navbar-wagon-search-btn">
          <i class="fa fa-search"></i>
        </button>
      </form>
     </div>
  </div>
</div>
<div class="container">
  <div class="bg-grey padded">
    <div class="text-center"><strong><%= link_to 'Edit restaurant', edit_restaurant_path(@restaurant) %></strong></div>
    <div class="text-center"><h1><%= @restaurant.name %></h1></div>
    <div class="text-center"><h2><%= @restaurant.category %></h2></div>
    <div class="text-center"><h2><%= @restaurant.address %></h2></div>
    <div class="text-center"><h2><%= @restaurant.phone_number %></h2></div>
    <ul>
    <li><% @restaurant.reviews.each do |review|  %>
        <p><%= review.rating %></p>
        <p><%= review.content %></p>
      <% end %>
    </li>
    </ul>
    <div class="text-center"><strong><%= link_to 'Add a review', new_restaurant_review_path(@restaurant) %></strong></div>
    <div class="text-center"><strong><%= link_to 'Back', restaurants_path %></strong></div>
  </div>
</div>

<div class="container">
  <div class="share-links">
    <a href="#" class="share-link bg-facebook">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="#" class="share-link bg-twitter">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="#" class="share-link bg-email">
      <i class="fa fa-envelope-o"></i>
    </a>
    <a href="#" class="share-link bg-text">
      <i class="fa fa-mobile"></i>
    </a>
  </div>
</div>

